html {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFF
}
body {
  margin: 0 10px 150px;
}
a {
  color: #6CF;
  text-decoration: none;
}
.nav {
  background-color: #4F4F4F;
  width: 100%;
  box-shadow: 0 0px 7px rgba(148, 148, 148, 0.7);
  padding: 0 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  margin: 10px;
}
.container {
  margin: 0 auto;
  max-width: 720px;
  overflow: hidden;
}
img.logo {
  padding: 50px 0 5px;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 200px;
}
.event img.logo {
  float: left;
  padding-top: 15px;
  width: 100px;
  display: inline-block;
}
h1 {
  font-family: Georgia, serif;
  text-align: center;
  color: #222;
  font-size: 32px;
  font-weight: 100;
  margin-top: 0;
}
.event h1 {
  margin-top: 15px;
}
h2 {
  font-family: Georgia, serif;
  text-align: center;
  color: #222;
  font-weight: 100;
}
h3 {
  font-family: Georgia, serif;
  margin: 0 0 20px;
  color: #222;
  font-size: 30px;
  font-weight: 100;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 40px;
  padding-bottom: 10px;
}
.agenda {
  padding-left: 30px;
  overflow: hidden;
}
.agenda dt, dd {
  margin: 0 0 15px;
  float: left
}
.agenda dt {
  clear: left;
  font-weight: 500;
  width: 80px
}
ol.workshop-list li {
  margin-bottom: 10px;
}
ul.faqs {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.faqs li {
  margin: 2em 0 3em;
}
ul.faqs .faq-question {
  font-weight: 500;
}
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
